<!DOCTYPE html>
<html>
<head>
  <title>Shorten URL</title>
  <style>
	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}

	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}

	/*tr:nth-child(even) {
	    background-color: #dddddd;
	}*/
  </style>
</head>
<body>
  <center>
    <h1>Enter URL</h1>
	<form action="shorten_url/create" method="post">
	  <input type="text" value="" name="original_url" />
	  <input type="submit" value="Submit" />
	</form>
	<h5><%= @error_msg %></h5>
  </center>
  <table>
	
	<tr>
	  <th>URL</th>
	  <th>Visits</th>
	</tr>
	
	<% @all_visits.each do |v| %>
	<tr>
   	  <td><%= v.sanitized_url %></td>
   	  <td><%= v.visits %></td>
   	<tr/>
	<% end %>

  </table>
</body>
</html>