<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <center>
  	<div>
  	  <h1>Original URL:</h1>
  	  <a href=<%= @original_url %> target="_blank"><%= @original_url %></a>
  	</div>
  	<div>
  	  <h1>Short URL:</h1>
  	  <a href=<%= @short_url %> target="_blank"><%= @short_url %></a>
  	</div>
  </center>
</body>
</html>